In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [5]:
PATH = 'cmu/'
tmdb_dataset = pd.read_csv(PATH + 'TMDB_movie_dataset_v11.csv', sep=',', header=0)   # Load the dataset

In [10]:
movies = pd.read_csv(PATH + 'movie.metadata.tsv', sep='\t', header=None)
movies.columns = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie name', 'Movie release date', 'Movie box office revenue', 'Movie runtime', 'Movie languages', 'Movie countries', 'Movie genres']
movies = movies.dropna(subset=['Movie name'])


characters = pd.read_csv(PATH + 'character.metadata.tsv', sep='\t', header=None)
characters.columns = ['Wikipedia movie ID', 'Freebase movie ID','Movie release date', 'Character Name', 'Actor DOB', 'Actor gender', 'Actor height', 'Actor ethnicity', 'Actor Name', 'Actor age at movie release', 'Freebase character map', 'Freebase character ID', 'Freebase actor ID']

names = pd.read_csv(PATH + 'name.clusters.txt', sep='\t', header=None)
names.columns = ['Character Name', 'Freebase actor ID']

plot_summaries = pd.read_csv(PATH + 'plot_summaries.txt', sep='\t', header=None)
plot_summaries.columns = ['Wikipedia movie ID', 'Plot']

tvtropes = pd.read_csv(PATH + 'tvtropes.clusters.txt', sep='\t', header=None)
tvtropes.columns = ['Trope', 'Info']

In [15]:
tmdb = tmdb_dataset.dropna()  # Drop rows with NaN values

In [24]:
tmdb['net revenue'] = tmdb['revenue'] - tmdb['budget']
n_budget = tmdb['budget'].apply(lambda x: 1 if x == 0 else x)
tmdb['revenue/budget'] = tmdb['revenue'] / n_budget

0           5.159580
1           4.252904
2           5.430046
3          12.336312
4           6.903707
             ...
1127826     0.000000
1127939     0.000000
1128221     0.000000
1128807     0.000000
1129211     0.000000
Name: revenue/budget, Length: 9662, dtype: float64